<section class="column2" style="margin-bottom: -10px;">
                <div class="parallax-window image" data-parallax="scroll">
                    <div class="">
                    <article class="d-flex">
                            <div class="column internal-column left">

                                <article class="article" style="">

                                    <h2>
                                        FULL-SERVICE LAB TESTING SOLUTIONS
                                    </h2>
                                    <h4>
                                        We have thousands of options to help answer your most pressing health questions.
                                    </h4>
                                    <p class="text">
                                        Whether you're monitoring the dosage for a new medication, taking active steps to manage a chronic condition, or engaged in a diagnostic process, we're sure to have the test for your specific situation. just use the search bar at the top to locate your test.
                                    </p>

                                    <div class="buttonsite">
                                        <span>
                                            HAVE QUESTIONS ABOUT OUR ADDITIONAL TESTS?
                                        </span>
                                        <a href="#" class="button" title="Contact Us">
                                            CHECK OUT OUR FAQs
                                        </a>
                                    </div>
                                </article>
                            </div>


                        <div class="column internal-column flex-1">


                                <section class="article">
                                <article class="test">
                                    <div class="image">
                                        <img width="43" height="42" src="{{ asset('wp-content/themes/altn2018/img/more-tests-icon.png') }}" alt="" />
                                    </div>
                                    <div class="name">
                                        <a href="#">
                                            Covid-19
                                        </a>
                                    </div>
                                    <div class="button-side">
                                        <a href="#" class="buy" title="Learn More about Annual Check-Up Panel">
                                            Learn More</a>
                                    </div>
                                </article>

                                <article class="test">
                                    <div class="image">
                                        <img width="43" height="42" src="{{ asset('wp-content/themes/altn2018/img/more-tests-icon.png') }}" alt="" />
                                    </div>
                                    <div class="name">
                                        <a href="#" title="Respiratory Pathogen">
                                            Respiratory Pathogen
                                        </a>
                                    </div>
                                    <div class="button-side">
                                        <a href="#" class="buy" title="Learn More about 5-Panel Instant*">
                                            Learn More</a>
                                    </div>
                                </article>


                                <article class="test">
                                    <div class="image">
                                        <img width="43" height="42" src="{{ asset('wp-content/themes/altn2018/img/more-tests-icon.png') }}" alt="" />
                                    </div>

                                    <div class="name">
                                        <a href="#" title="Gastrointestinal">
                                            Gastrointestinal</a>
                                    </div>

                                    <div class="button-side">
                                        <a href="#" class="buy" title="Learn More about STD Panel, Comprehensive">
                                            Learn More</a>
                                    </div>

                                </article>


                                <article class="test">
                                    <div class="image">
                                        <img width="43" height="42" src="{{ asset('wp-content/themes/altn2018/img/more-tests-icon.png') }}" alt="" />
                                    </div>
                                    <div class="name">
                                        <a href="#" title="Wound">
                                            Wound
                                        </a>
                                    </div>
                                    <div class="button-side">
                                        <a href="#" class="buy" title="Learn More about Paternity Informational (Non-Legal)">
                                            Learn More</a>
                                    </div>
                                </article>


                                <article class="test">
                                    <div class="image">
                                        <img width="43" height="42" src="{{ asset('wp-content/themes/altn2018/img/more-tests-icon.png') }}" alt="" />
                                    </div>
                                    <div class="name">
                                        <a href="#" title="Hair, Nail/Paronychia">
                                            Hair, Nail/Paronychia</a>
                                    </div>
                                    <div class="button-side">
                                        <a href="#" class="buy" title="Learn More about Cholesterol (Lipid) Panel">
                                            Learn More</a>
                                    </div>
                                </article>

                                <article class="test">

                                    <div class="btn">

                                        <a href="#" class="buy" title="Learn More about Cholesterol (Lipid) Panel">
                                            See all tests
                                        </a>

                                    </div>

                                </article>





                                </section>

                        </div>
                    </article>
                    </div>
                </div>
                </section>