<section class="column3">
	<div class="inside">
		<article class="content-text">

			{{ block.heading|raw }}
			{{ block.simple_text|raw }}

			{# <h2>How it works</h2>
			                fast, reliable results you can trust #}

		</article>

        {{ block.text_editor|raw }}

		{# <article class="columns container">
		                <div class="column third">
		                    <div class="number" style="background-color: #8dc63f">
		                        1
		                    </div>
		                    <div class="icon">
		                        <a href="#" title="Choose your nearest location">
		                            <img width="65" height="81" src="{{ asset('images/icon1.png') }}" alt="Choose your nearest location"/>
		                        </a>
		                    </div>
		                    <a href="#" title="Choose your nearest location">
		                        <div class="text">
		                            Choose your <br /> nearest location
		                        </div>
		                    </a>
		                </div>
		
		                <div class="column third">
		                    <div class="number" style="background-color: #13a89e">2</div>
		                    <div class="icon">
		                    <a href="#" title="Select your test"
		                        ><img
		                        width="77"
		                        height="87"
		                        src="{{ asset('images/icon2.png') }}"
		                        alt="Select your test"
		                    /></a>
		                    </div>
		                    <a href="#" title="Select your test">
		                        <div class="text">
		                        Select<br />
		                        your test
		                    </div>
		                </a>
		                </div>
		
		            <div class="column third">
		                <div class="number" style="background-color: #f26735">3</div>
		                <div class="icon">
		                <a
		                    href="#"
		                    title="Schedule an appointment"
		                    ><img
		                    width="97"
		                    height="86"
		                    src="{{ asset('images/icon3.png') }}"
		                    alt="Schedule an appointment"/>
		                </a>
		                </div>
		                <a
		                href="#"
		                title="Schedule an appointment"
		                ><div class="text">
		                    Schedule an<br />
		                    appointment
		                </div></a>
		            </div>
		            </article>
		
		            <div class="buttonsite">
		                <a href="#" class="button" title="Contact Us">Contact Us</a>
		            </div> #}

	</div>
</section>
